.cart-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.cart-item {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.5rem;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin-top: -10px;
  text-transform: capitalize;
  background-color: white;
}
.cart-item p {
  margin: 0.2rem;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #001c30;
}
h1 {
  text-align: center;
}
